#login{
       width: 25%;
    padding: 20px;
    color: black;
    background-color: black;
    border-style: solid;
    border-width: thin;
}

h1{
    color: lightgoldenrodyellow;
    text-align: left;
    margin-left: 13%;
    padding: 30px;
    font-family: 'Righteous';
}
body{
    font-family: 'Oswald';
    background-color: black;
    color: aqua;
    background-image: url(images/ConnexionBackground.jpg);

}


.star-wars a{
    color: black;
    background-color: gold;
    border-style: solid;
    border-width: thin;
}
.star-wars a:hover {
   color: white;
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: gold;
  box-shadow: 0px 0px 12px #ff0 ;
}
    
}

a{
    color: gold;
}
a:hover {
    text-decoration: none;
    color: gold;
    
}

.log{
    background-color: black;
    border-style: solid;
    border-width: thin;
  
}
.log:hover{
    border-style: solid;
    border-width: thin;
    border-color: yellow;
  box-shadow: 0px 0px 12px #ff0 ;
}
table{
   display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}
.bouton{
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1vh;
}

#submit {
    color: black;
    background-color: yellow;
    border-style: solid;
    border-width: thin;
}

#submit:hover {
    color: white;
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: yellow;
  box-shadow: 0px 0px 12px #ff0 ;
}
#reset {
    color: black;
    background-color: yellow;
    border-style: solid;
    border-width: thin;
}

#reset:hover {
    color: white;
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: yellow;
  box-shadow: 0px 0px 12px #ff0 ;
}
td {
    color: yellow;
}
#login {color: black;
    background-color: black;
    border-style: solid;
    border-width: thin;
    
}
#login:hover {
    color: white;
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: yellow;
  box-shadow: 0px 0px 12px #ff0 ;
}



.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'News Cycle', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: center;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
.title {
    font-family: "Righteous";
}
.container-fluid {
   
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 200;
    background-image: url(images/BanniereBackground.jpg);
    text-align: left;
}
input[type=button]{
    color: black;
    background-color: yellow;
    border-style: solid;
    border-width: thin;
}

input[type=button]:hover {
    color: white;
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: yellow;
  box-shadow: 0px 0px 12px #ff0 ;
}
input[type=submit]{
    color: black;
    background-color: yellow;
    border-style: solid;
    border-width: thin;
    
}

input[type=submit]:hover {
    color: white;
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: yellow;
  box-shadow: 0px 0px 12px #ff0 ;
}
.container-fluid {
    margin-top: 151px;
}

.amis, .demandes, .attente {
   margin-left: 10%;
    margin-top: 20px;
font-family: Righteous;
    font-size: 18pt;
}
h3, h5 {
    text-align: center;
}
.accueil {
    display: flex;
  align-items: center;
  justify-content: center;

}
#recherche {
    margin-left: 10%;
    margin-top: 20px;
    }

input[type=search]{
   color: white;
    background-color: black;
    border-style: solid;
    border-width: thin;
}
input[type=search]:hover{
    border-style: solid;
    border-width: thin;
    border-color: yellow;
  box-shadow: 0px 0px 12px #ff0 ;
}
#titre, #contenu {
    color: white;
    background-color: black;
    border-style: solid;
    border-width: thin;
    
}
#titre:hover, #contenu:hover{
    border-style: solid;
    border-width: thin;
    border-color: yellow;
  box-shadow: 0px 0px 12px #ff0 ;
}
